body {
    margin-top: auto;
    background-color: #FFFFFF;
}

.main-secction .cmb-5 {
    margin-bottom: 8rem !important;
}

.main-secction .border {
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 10px;
}

.main-secction .main-secction {
    box-shadow: 10px 10px 10px;
}

.main-secction .image-section {
    padding: 0px;
}

.main-secction .image-section img {
    width: 100%;
    height: 250px;
    position: relative;
}

.main-secction .user-image {
    position: absolute;
    margin-top: -50px;
}

.main-secction .user-left-part {
    margin: 0px;
}

.main-secction .user-image img {
    width: 180px;
    height: 180px;
}

.main-secction .user-profil-part {
    padding-bottom: 30px;
    background-color: #FAFAFA;
}

.main-secction .follow {
    margin-top: 70px;
}

.main-secction .user-detail-row {
    margin: 0px;
}

.main-secction .user-detail-section2 p {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.main-secction .user-detail-section2 {
    margin-top: 10px;
}

.main-secction .user-detail-section2 span {
    color: #7CBBC3;
    font-size: 20px;
}

.main-secction .user-detail-section2 small {
    font-size: 12px;
    color: #D3A86A;
}

.main-secction .profile-right-section {
    padding: 20px 0px 10px 15px;
    background-color: #FFFFFF;
}

.main-secction .profile-right-section-row {
    margin: 0px;
}

.main-secction .profile-header-section1 h1 {
    font-size: 25px;
    margin: 0px;
}

.main-secction .profile-header-section1 h5 {
    color: #0062cc;
}

.main-secction .req-btn {
    height: 30px;
    font-size: 12px;
}

.main-secction .profile-tag {
    padding: 10px;
    border: 1px solid #F6F6F6;
}

.main-secction .profile-tag p {
    font-size: 12px;
    color: black;
}

.main-secction .profile-tag i {
    color: #ADADAD;
    font-size: 20px;
}

.main-secction .image-right-part {
    background-color: #FCFCFC;
    margin: 0px;
    padding: 5px;
}

.main-secction .img-main-rightPart {
    background-color: #FCFCFC;
    margin-top: auto;
}

.main-secction .image-right-detail {
    padding: 0px;
}

.main-secction .image-right-detail p {
    font-size: 12px;
}

.main-secction .image-right-detail a:hover {
    text-decoration: none;
}

.main-secction .image-right img {
    width: 100%;
}

.main-secction .image-right-detail-section2 {
    margin: 0px;
}

.main-secction .image-right-detail-section2 p {
    color: #38ACDF;
    margin: 0px;
}

.main-secction .image-right-detail-section2 span {
    color: #7F7F7F;
}

.main-secction .nav-link {
    font-size: 1.2em;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.auto-scroll {
    height: 300px;
    overflow-y: auto;
}

.color-red {
    background-color: rgb(255, 0, 0, 0.6);
    color: #ff0000;
}

.color-green {
    background-color: rgb(0, 255, 0, 0.6);
    color: #318b31;
}

del {
    background-color: rgba(255, 0, 0, 0.322);
    color: #750d0d;
}

ins {
    background-color: rgba(28, 219, 28, 0.301);
    color: #112b11;
}